.summarytitle {
    font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif';
    font-size: 28px;
    font-weight: 600;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.totaldetected{
    font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif';
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.statistic{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between; /* 均匀分布 */
    align-items: center; /* 垂直居中对齐 */
    width: 40%;
}

.summarytable{
    font-size: 12px;
}
