.wrapper {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.formItem {
    display: flex;
    justify-content: space-between; /* 让内容和 label 在两边 */
    align-items: center; /* 垂直居中对齐 */
    width: 100%; /* 使 formItem 填满父容器 */
}

/* 使用 position: relative 和 top 调整 Upload JSON 标签的位置 */
.formItem .ant-form-item-label {
    display: flex;
    align-items: center; /* 垂直居中对齐标签 */
    position: relative; /* 使用相对定位进行调整 */
    top: 50px; /* 根据需要调整 top 值 */
}

.button{
    border-radius: 4px !important; /* 圆角 */
    margin-left: 4%;
}

.handleSubmit{
    display: grid;
    grid-template-rows: 60px;
}


.selectbotton{
    border-radius: 0 4px 4px 0 !important;
    width: 50px !important;
}

.repositoryinput{
    border-radius: 4px 0 0 4px !important;
    width: 370px !important;
    border-right: none !important;
    background-color: white !important;
}

.flexRow {
    gap: 20px; /* 设置选择框和按钮之间的间距 */
}

.buttonandtext {
    display: flex;
    margin-right: 2%;
    margin-left: 2%;
}

.repositorylabel{
    width: 90px;
}

.inputandbutton{
    display: flex;
    margin-left: 20px;
    margin-right: 2%;

}

.detecttypelabel{
    width: 90px;
    margin-left: 4%;
}

.detcttypeselect{
    margin-left: 20px;
}

.detcttypeselectbody{
    width: 230px; 
}

.CommitselectAndBotton{
    display: grid;
    grid-template-columns: 90px 450px auto;
    margin-left: 2%;
    margin-right: 2%;
}

.dc_commitselect{
    display: grid;
    grid-template-columns: 90px 450px;
    margin-left: 2%;
    margin-right: 2%;
}

.dc_commitselectandbutton{
    display: grid;
    grid-template-columns: 90px 450px auto;
    margin-left: 2%;
    margin-right: 2%;
}

.commitselect{
    margin-right: 0px;
    margin-left: 20px;
}


.Commitlabel{
    margin-left: 2%;
    margin-right: 10px;
}

.defaut{
    display: grid;
    grid-template-rows: 60px 60px;
}

.dc{
    display: grid;
    grid-template-rows: 60px 60px 60px 60px;
}

.RefactoringSummary{
    margin-left: 2%;
    margin-right: 2%;
}

.pieandtree{
    margin-right: 2%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* 均匀分布 */
}

.pie {
    flex: 0 0 70%; /* 设置饼图占 60% */
    margin-left: 10px;
}

.filetree {
    flex: 0 0 30%; /* 设置文件目录占 40% */
    border-right: 1px solid #eee;
}

.dataSelect{
    display: grid;
    grid-template-columns: 90px 250px;
    margin-right: 2%;
    margin-left: 2%;
}

.dc_dataSelect{
    display: grid;
    grid-template-columns: 90px 250px ;
    margin-right: 2%;
    margin-left: 2%;
}

.dataSelectlabel{
    margin-left: 2%;
}

.dataSelectPicker{
    margin-left: 20px;
}

.affixContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    background-color: white;
    z-index: 100;
    margin-left: 2%;
    margin-right: 2%;
}

.fileCount {
    font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif';
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.backTopButton{
    border-radius: 6px;
}

.additionsline{
    color: #28a745;
    margin-left: 10px;
    margin-right: 4px;
}

.deletionsline{
    color: #d73a49;
    margin-right: 4px;
}

.lineschanged{
    color: #6c757d;
}

.messageandauthor{
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px solid #dcdcdc;
}

.authorandcommit{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.author{
    display: flex;
    align-items: center; 
}

.commit{
    display: flex;
    align-items: center; 
}

.commitbutton{
    margin-left: 8px;
    margin-right: 8px;
    background: none; /* 取消背景 */
}