.wrapper {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.button{
    border-radius: 4px !important; /* 圆角 */
    margin-left: 4%;
}

.detecttype{
    display: flex;
    margin-right: 2%;
    margin-left: 2%;
}

.handleSubmit{
    display: grid;
    grid-template-rows: 60px 60px;
}

.repositorylabel{
    width: 90px;
    white-space: nowrap;
}

.inputandbutton{
    display: flex;
    margin-left: 20px;
    margin-right: 2%;

}

.selectbotton{
    border-radius: 0 4px 4px 0 !important;
    width: 50px !important;
}

.repositoryinput{
    border-radius: 4px 0 0 4px !important;
    width: 370px !important;
    border-right: none !important;
    background-color: white !important;
}

.buttonandtext {
    display: flex;
    margin-right: 2%;
    margin-left: 2%;
}

.detecttypelabel{
    width: 90px;
}

.detcttypeselect{
    margin-left: 20px;
}

.detcttypeselectbody{
    width: 230px; 
}

.CommitselectAndBotton{
    display: grid;
    grid-template-columns: 90px 450px auto;
    margin-left: 2%;
    margin-right: 2%;
}

.dc_commitselect{
    display: grid;
    grid-template-columns: 90px 450px;
    margin-left: 2%;
    margin-right: 2%;
}

.dc_commitselectandbutton{
    display: grid;
    grid-template-columns: 90px 450px auto;
    margin-left: 2%;
    margin-right: 2%;
}

.commitselect{
    margin-right: 0px;
    margin-left: 20px;
}


.Commitlabel{
    margin-left: 2%;
    margin-right: 10px;
}

.defaut{
    display: grid;
    grid-template-rows: 60px 60px;
}

.dc{
    display: grid;
    grid-template-rows: 60px 60px 60px 60px;
}

.dt{
    display: grid;
    grid-template-rows: 60px 60px;
}

.RefactoringSummary{
    margin-left: 2%;
    margin-right: 2%;
}

.pieandtree{
    margin-right: 2%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* 均匀分布 */
}

.pie {
    flex: 0 0 70%; /* 设置饼图占 60% */
    margin-left: 10px;
}

.filetree {
    flex: 0 0 30%; /* 设置文件目录占 40% */
    border-right: 1px solid #eee;
}

.dateSelect{
    display: grid;
    grid-template-columns: 90px 250px;
    margin-right: 2%;
    margin-left: 2%;
}

.dc_dataSelect{
    display: grid;
    grid-template-columns: 90px 250px ;
    margin-right: 2%;
    margin-left: 2%;
}

.dateSelectlabel{
    margin-left: 2%;
}

.dateSelectPicker{
    margin-left: 20px;
}

.affixContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    background-color: white;
    z-index: 100;
    margin-left: 2%;
    margin-right: 2%;
}

.fileCount {
    font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif';
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.backTopButton{
    border-radius: 6px;
}

.additionsline{
    color: #28a745;
    margin-left: 10px;
    margin-right: 4px;
}

.deletionsline{
    color: #d73a49;
    margin-right: 4px;
}

.lineschanged{
    color: #6c757d;
}

.spin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* 使其占满整个视口高度 */
}

.pagingarea{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    display: flex; /* 使用 Flexbox 布局 */
    align-items: center; /* 垂直居中对齐 */
}

.changepagebutton{
    background-color: transparent !important; 
    border: none;
    text-align: center;
    font-style: italic;
    display: inline-block;
    font-size: 16px;
    height: 80px;
    color: rgb(9, 105, 218) !important;
}

.changepagebuttondisable{
    background-color: transparent !important; 
    border: none;
    text-align: center;
    font-style: italic;
    display: inline-block;
    font-size: 16px;
    height: 80px;
    color: rgb(150, 148, 148) !important;
}

.changepagebutton:hover {
    background-color: transparent !important;
}

.changepagebutton:active {
    background-color: transparent !important; 
}

.changepagebuttondisable:hover {
    background-color: transparent !important;
}

.changepagebuttondisable:active {
    background-color: transparent !important; 
}

.pageButton {
    flex: 0.9; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.commitInfoContainer {
    flex: 8.2; 
    text-align: center;
}

.tabs{
    margin-left: 2%;
    margin-right: 2%;
}

.errorresult{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* 使其占满整个视口高度 */
}

.tagselectandlebal{
    display: grid;
    grid-template-columns: 90px 200px;
    margin-left: 2%;
    margin-right: 2%;
}

.tagselectandlebalandbutton{
    display: grid;
    grid-template-columns: 90px 200px auto;
    margin-left: 2%;
    margin-right: 2%;
}

.taglebal{
    margin-left: 2%;
}

.tagselect{
    margin-right: 0px;
    margin-left: 20px;
}