.charAdd {
    color: green;
    background-color: rgb(236, 253, 240);
}

.charRemoved {
    color: red;
    background-color: rgb(251, 233, 235);
}

.wrapper {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: 20px;
}


.input {
    width: 45%;
}

.formItem {
    display: flex;
    flex-direction: column; /* 垂直排列 label 和 buttonAndText */
    width: 80%; /* 使 formItem 填满父容器 */
    position: relative; /* 使用相对定位进行调整 */
    justify-content:center;
}

/* 使用 position: relative 和 top 调整 Upload JSON 标签的位置 */
.formItem .ant-form-item-label {
    display: flex;
    align-items: center; /* 垂直居中对齐标签 */
    position: relative; /* 使用相对定位进行调整 */
    top: 50px; /* 根据需要调整 top 值 */
}

.bottonandtext {
    display: flex; /* 使用 flexbox 布局，使按钮和文本在一行显示 */
    align-items: center; /* 垂直对齐 */
    margin-right: 2%;
    margin-left: 2%;
}

.textContent {
    display: flex; /* 使用 flexbox 布局 */
    margin-left: 30%; /* 根据需要调整间距 */
    margin-right: 10%; /* 根据需要调整间距 */
    flex-direction: column; /* 垂直排列每一行 */
    align-items: flex-start; /* 对齐每行文本的开始位置 */
}

.textContent p {
    margin: 0; /* 去掉 p 元素的默认上下外边距 */
    line-height: 1.1; /* 设置行高，以提高可读性 */
}

.funWrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.result {
    font-size: 20px;
    padding-left: 10%;
}

.preWrap {
    padding-left: 10%;
    padding-right: 10%;
    white-space: pre-wrap;
}

.charPreWrap {
    white-space: pre-wrap;
}


.description {
    margin-top: 16px;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    font-size: 16px;
    line-height: 1.3;
    color: #333;
    max-width: 100%;
    overflow-wrap: break-word; /* Ensures long lines break properly */
    margin-left: 2%;
    margin-right: 2%;
}

.description strong {
    font-weight: bold;
    color: #000;
}

.description::before {
    font-weight: bold;
    color: #333;
}

.singleLine {
    display: flex; /* 使用 flexbox 布局 */
    align-items: center; /* 垂直对齐内容 */
    white-space: nowrap; /* 防止文本换行 */
    overflow: hidden; /* 隐藏超出的文本 */
    text-overflow: ellipsis; /* 溢出文本显示省略号 */
}

.filesDiffs {
    margin-top: 20px;
}

.fileDiff {
    margin-bottom: 20px;
}

.diffContent {
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
}

.diffItem {
    display: block; /* Display each diff item on a new line */
}

.add {
    background-color: #d4f6d4; /* Green background for added text */
}

.removed {
    background-color: #f6d4d4; /* Red background for removed text */
}

.filename {
    margin-top: 18px;
    padding: 12px;
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    font-size: 16px;
    line-height: 1.3;
    color: #333;
    max-width: 100%;
    overflow-wrap: break-word; /* Ensures long lines break properly */
    margin-left: 2%;
    margin-right: 2%;
}

.refactoringItem{
    margin-top: 12px;
    padding: 12px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.3;
    color: #333;
    max-width: 100%;
    overflow-wrap: break-word; /* Ensures long lines break properly */
    margin-left: 1%;
    margin-right: 1%;
}

.bottom{
    margin-bottom: 1%;
}

.botton{
    border-radius: 8px !important; /* 圆角 */
    margin-left: 50px;
    margin-right: 10%;
    margin-top: 53%;
}

.textarea {
    resize: none;          /* 禁止用户调整输入框的大小 */
    height: 30px !important;          /* 设置固定的高度 */
    width: 500px !important;          /* 设置固定的宽度 */
    padding: 8px;          /* 设置内边距，控制文本与边框的距离 */
    border-radius: 4px;    /* 设置边框圆角 */
    border: 1px solid #d9d9d9; /* 设置边框颜色 */
    font-size: 14px;       /* 设置字体大小 */
}

.handleSubmit{
    display: grid;
}